h1 {
    color:orange    (255, 204, 0);
}

.random-div-rosso {
    color: red      (242, 5, 5);
width: 50px;
height: 50px;
}

.random-div-verde {
    color: green    (32, 171, 51);
width: 50px;
height: 50px;
}

.random-div-blu{
    color: blue     (30, 12, 218);
width: 50px;
height: 50px;
}

.random-div-giallo{
    color: yellow   (255, 255, 0);
width: 50px;
height: 50px;
}

div:last-of-type {
color: white; background-color: red;
padding: 10px;
margin: 10px;
border: 1px solid  black;

}