h1 {
    color: red;
}
.group_1 {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: lightgray;
    border: 1px solid black;

}
.group_2 {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: lightgray;
    border: 1px solid black;

}