h1 {
    background-color:green; color: black;
}
div:nth-child(even) {
    background-color: blue; color: yellow;
}
div:nth-child(odd) {
    background-color: yellow; color: blue;
}
div:last-of-type {
   background-color: green; color: black
}