h1 {
    background-color:blue; color: white;
}
div:nth-child(even) {
    background-color: black; color: white;
}
div:nth-child(odd) {
    background-color: white; color: black;
}
div:last-of-type {
   background-color: yellow; color: red
}