h1 {
    background-color:red; color: white;
}
div:nth-child(even) {
    background-color: yellow; color: black;
}
div:nth-child(odd) {
    background-color: green; color: black;
}
div:last-of-type {
   color: blue
}