h1 {
    background-color:blue; color: white;
}
div.parity {
    background-color: black; color: white;
}
div.impair {
    background-color: white; color: black;
}
div:last-of-type {
   background-color: yellow; color: red
}