/*style css file*/
body.index h1 {
    color: red;
}

body.pagina1 h1 {
    color: green;
}

body.pagina2 h1 {
    color: green;
}

body.pagina3 h1 {
    color: green;
}

a:hover {
    color: red; background-color: yellow;
}

h1:hover { 
    background-color: gray;
}