h1 {
    color:red;
}
div.parity {
    background-color: black; color: white;
}
div.impair {
    background-color: grey; color: white;
}
div:last-of-type {
   color: white; background-color: red;
   margin-top:20px;  
   padding:10px;
}
div {
padding: 8px;
margin: 5px;
border: 1px solid #444;
width: fit-content;
font-family: Arial, sans-serif;
}
