h1 {
    color: red;
}

.PAR {
    background-color: black;
    color: white;
}

.IMPAR {
    background-color: grey;
    color: white;
}

.final {
    color: white;
    background-color: red;
    margin-top: 20px;
    padding: 10px;
}

div {
    padding: 8px;
    margin: 5px;
    border: 1px solid #444;
    width: fit-content;
    font-family: Arial, sans-serif;
}